[alias]
	a = add
	co = checkout
	cob = checkout -b
	com = checkout main
	c = commit -m
	s = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
	p = push
	poh = push origin HEAD
	pl = pull
	plom = pull origin main

  # エイリアス一覧
  alias = !git config --get-regexp '^alias\\.' | sed 's/alias\\.\\([^ ]*\\) \\(.*\\)/\\1\\\t => \\2/' | sort
